<tr>
    <td>{{id}}</td>
    <td>{{burger_name}}</td>
    {{#unless devoured}}
        <td>
            <button class="devourBtn btn btn btn-warning" data-id="{{id}}">Devour</button>
        </td>
    {{/unless}}
</tr>

{{!-- <li class="list-group-item mr-auto">
    {{burger_name}}
    {{#unless devoured}}
        <button class="devourBtn btn btn-warning" data-id="{{id}}">Devour</button>
    {{/unless}}
</li> --}}